<h1>Trips#index</h1>
 
<div class="container">  
<div class="row">  
<div class="span4">  
<div class="alert alert-block">  
  <a class="close" data-dismiss="alert">×</a>  
  <h4 class="alert-heading">Warning!</h4>  
 What are you doing?! this will delete all files!!  
</div>  
</div>  
</div>  
</div>  
- See more at: http://www.w3resource.com/twitter-bootstrap/alerts-and-errors-tutorial.php#sthash.lTgDtP8x.dpuf  

