show page

<h1 id="title center">My Trip</h1>
 Planned time of Departure or Ticket Purchase</br>
   <%= select_date Date.today, prefix: :start_date %> </br></br>

<div class="container">
<tr>
   <div class="col-sm-12 col-md-6">
       <div id="googleMap"></div>
     
   <div class ="col-sm-12 col-md-6">
  
</tr>



<div class="container">
   <div id="map-canvas"><div>




