.div-login {
  background-color: #3498db;
  max-width: 300px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  color: rgba(255,255,255,1);
   background:url(image-path('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1xIL9HpVJUY48P8xg_Nw20js108LzYMT5-WFwZoxXUYrJVHSA'));

}

.h2-sign {
  color: rgba(255,255,255,1);
  font-size: 28px;
}

.login-signup {
  color: rgba(255,255,255,1);
}
.links{
  color:white;
}