html {
height:100%;
}
body {
height:100%;
margin:0;
padding:0;
// background:url(image-path('lightSand.jpg'));
background-color:#E0E0E0;
font-family: 'Open Sans', sans-serif;



}

#googleMap, #anotherMap {
height:100%;

}

#googleMap, #anotherMap, #thirdMap{
width:620px;
height:400px;
}
#googleMap{
width: 100%;
}
.mapBox{
  background: #779DFD;
  width:620px;
  heigth:400px;
}
#myfirstchart{
height: 250px;
}
#chartContainer, #chartContainer2{
height: 177px;
 width: 100%;
}
.header{
margin-bottom: 35px;

}
.center{
text-align: center;
}
#for_opacity{
opacity:0.5;
}
.container1{
background: #FDF5E6 ;
border: 1px solid  black;
margin-left: 0;
margin-right: 0;
}


.img1 {
height: 450px;
width:100%;
opacity: 0.6;
}

div.background{
width:100%;
height:310px;
background:url(image-path('travel3.jpg'));
border:6px solid black;
border-radius: 20px;
-moz-box-shadow: 11px 10px 45px #000000;
-webkit-box-shadow: 11px 10px 45px #000000;
box-shadow: 11px 10px 45px #000000;
margin-bottom: 25px;


}
div.transbox{
width:400px;
height:120px;
margin:30px 40px;
background-color:#ffffff;
border:1px solid black;
// opacity:0.6;
background-color:rgba(255, 255, 255, 0.7);
text-align:center;
padding: 20px;
border-radius: 6px;
 font-family: 'Open Sans', sans-serif;
font-weight: 800;
font-style: italic;
}
h3{
margin-left:auto;
margin-right:auto;
vertical-align: middle;
margin: 20px;
margin:30px 40px;
font-weight:bold;
padding-top: 35px;
}

div.transbox, p, div.transbox2{
margin:20px 40px;
font-weight:bold;
color:black;
margin-top: 50px;
padding-top:10px;
}

.activities{
  text-align:center;
}

.restaurant, .places{
height: 190px;
width: 310px;
}
.well {

// background:  #7895A2;
// background: #575757;
// border: 1px solid black;
color:white;
// background:url(image-path('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT3wYUuUZpUTudgrWwBfdPC6-PuzTKCgIZHOdxjkf_ut1pLOIym'));

border-radius: 0px;
// background: rgba(7,32,102,.6);
background:#647397;

outline: #444444 groove 4px ;
outline-offset: 1px ;

}
.two, .four{
font-weight: bold;
font-style: italic;
font-size: 25px ;
text-align: center;
// font-family: 'Amarante', cursive;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
color: #FFFFCC;
margin-top: 45px;
 
}
.two{
  margin-top: 5px;
}
.three{

 // font-family: 'Belleza', sans-serif;
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
 font-size: 18px;
 margin-bottom: 0px;
}
.four{
  padding-left: 40px;
  margin-top: 0px;
}
.dash{
font-size: 20;
font-weight: bold;
}
.act{
font-size: 20px ;
text-align: center;
// font-family: 'Amarante', cursive;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
color: white;
}

div.showModal{
border: none;
}

#myModalShowModal{
background: yellow;
border: black;
}
.actName{
background:beige;
color: black;
margin-bottom: 3px;
padding-top: 8px;
padding-bottom: 8px;
border-radius:8px;
}
.modalActivity{
background:orange;
}
.floatright{
float:right;
}
#delete{
position: relative;
top: -14px;
right: -13px;
}
.links{
  list-style-type: none;
}


nav{
  background:lightgrey;
}

#bs-example-navbar-collapse-1 {
background: black;
}

.navbar-brand{
font-size: 30px;
color:white;
}
.navbar-nav{
font-size: 25px;
font-style:italic;
}
.navbar-right{
font-size: 18px;
}

.intro{
font-size: 24px;

}
#intro{
font-size: 26px;

}
.com{
background:white;
border-radius:5px;
}
.grey{
// background:url(image-path('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT3wYUuUZpUTudgrWwBfdPC6-PuzTKCgIZHOdxjkf_ut1pLOIym'));
border:none;
background: #6978A2;
outline:0;

}
.input{
background:#fff6e5;
}
.enter{
background-color: #E8E8EE;
}
.add{
font-size: 10px;
}
.com, .actName{
border:none;
outline-width:0px;
}
.links{
  color:white;
  font-size: 18px;
  text-align: center;
}
#chartBox {
  width: 555px;
  height: 432px;
  margin : 6px;
  padding-left: 4px;
  padding-right: 4px;
}
.right{
  padding-left: 25px;
}
table{
  margin-left: 45px;
}
#update{
  color:cream;
}
.marker{
  font-size:20px;
}
.wrapper{
  background: #647397;
  padding:13px;
  position: relative;
  
border: #444444 5px solid;
border-radius: 10px;
color:white
}
.landing{
  height:600px;
}
.picture.img-responsive{
  border:solid 20px;
    border: 5px solid #292929;
   outline: 5px solid #647397;
   margin-left: 100px;
   height:230px;
}
#titre{
  opacity:.8;

}
#titre\20 center {
text-align: center;
margin-bottom: 44px;
}

#line{
  background:#99AACC;
  height: 40px;
}
.notice, .alert{
  height:1em;
  margin:0px;
}
#beige{
  background:#F0EFE1;
  border: #647397;
  color: #647397;
}
body > div.container > div > div.col-xs-6.col-md-8 > div > img {
margin-left: 15px;
}
#cities{

}
#museums{
  height:584px;
}
#colosseum{
  margin-left: 60px;

}
.details{
  background:white;
  color:black;
  font-size:20px;
  border-radius:6px;
}
#second{
  padding:3px;
  background:#F0EFE1;
  border: #647397 5px solid;
border-radius: 10px;
margin-left:50px;
padding-left:3px;
padding-right:3px;
font-size:20px;
}
.first{
  font-size: 20px;
}
#name{
  float:right;
}
.last{
 height: 389px;
}
#bs-example-navbar-collapse-1 > ul:nth-child(2) > li > a {
color: white;
}
#links{
    list-style-type: none;
}
.dark{
  background: #99AACC;
}
.steps{
  font-size: 20px;
}
body > div.dark > div > div > div.col-xs-6.col-md-4 > div.well.margin {
 margin-bottom: 5px; 
}
#quote{
  font-size: 18px;
}
#left{
  text-align: left;
}
#prim{
  height:434px;
}
.show{
  margin-left:auto;
  margin-right:auto;
}
#title{
  text-align: center;
}