<h3 class="center">Anticipation is half the fun!</h3>
<p class="center intro"><em>Getting ready, saving and dreaming of your trip will be part of the fun, thanks to
  <span id='intro'>GetReadySaveGo</span></em></p>


<div class="container">


 <p><div id="googleMap"></div></p>
</div>
